<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}LITRevu{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
  </header>
{% if messages %}
  <div style="margin: 15px;">
    {% for message in messages %}
      <div style="padding: 10px; border-radius: 6px;
                  margin-bottom: 8px;
                  {% if message.tags == 'success' %}
                    background-color: #d4edda; color: #155724;
                  {% elif message.tags == 'error' %}
                    background-color: #f8d7da; color: #721c24;
                  {% elif message.tags == 'warning' %}
                    background-color: #fff3cd; color: #856404;
                  {% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

  <main>
    {% if user.is_authenticated %}
    <div class="nav-block">
      <h2>LITReviews</h2>
      <nav class="main-nav">
        <ul>
          <li><a href="{% url 'posts:feed' %}">Flux</a></li>
          <li><a href="{% url 'posts:mine' %}">Vos posts</a></li>
          <li><a href="{% url 'follows:list_follows' %}">Abonnements</a></li>
        </ul>
      </nav>
    </div>

    {% endif %}
    {% block content %}{% endblock %}
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn-logout-nav">Se déconnecter</button>
      </form>
    {% endif %}

  </main>

  {% block scripts %}{% endblock %}
</body>
</html>

