{% extends "base.html" %}
{% block content %}
<h2>LITReview</h2>

<div style="display:flex;gap:30px;">
  <!-- Connexion -->
  <div>
    <h3>Connexion</h3>
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      <label>Nom d'utilisateur :</label>
      <input type="text" name="username" required><br>
      <label>Mot de passe :</label>
      <input type="password" name="password" required><br>
      <button type="submit">Se connecter</button>
    </form>
  </div>

  <!-- Inscription -->
  <div>
    <h3>Inscription</h3>
    <form method="post" action="{% url 'accounts:signup' %}">
      {% csrf_token %}
      <label>Nom d'utilisateur :</label>
      <input type="text" name="username" required><br>
      <label>Mot de passe :</label>
      <input type="password" name="password1" required><br>
      <label>Confirmer le mot de passe :</label>
      <input type="password" name="password2" required><br>
      <button type="submit">S'inscrire</button>
    </form>
  </div>
</div>
{% endblock %}
